* {
    font-family: poppins, sans-serif;
}

body {
    background-color: #141414 !important; 
}

input {
    background-color: #141414 !important; 
    border: 1px solid plum !important;
    color: #fff !important;
}

.bb-nav {
    /* border-bottom: 1px solid gray !important; */
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    padding-left: 0 !important;
    z-index: 1 !important;
    /* background: #141414 !important; */
    height: 10vh !important;
}

p {
    font-weight: bold !important;
}

.bb-logo {
    font-weight: bold !important;
    font-family: Impact !important;
}

.bb-nav-a-plum ul li a {
    color: grey !important;
    font-weight: bold !important;
}

.bb-nav-a-plum ul li a:hover {
    color: plum !important;
}

.bb-form-container {
    position: relative !important;
    top: 10vh !important;
}

.bb-check-flex {
    display: flex !important;
}

.bb-check-flex div {
    margin-right: 20px !important;
}

.bb-nav-send-left {
    position: relative !important;
    left: 70% !important;
}

.bb-signUp-info {
    border-right: 2px solid plum !important;
    height: 90vh !important;
    background-color: plum !important;
}

label {
    color: rgb(228, 77, 228) !important;
    font-weight: bold !important;
}

button {
    font-weight: bold !important;
}

.bb-signUp-info img {
    height: inherit !important;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.bb-form-center-align {
    height: inherit;
    border: 1px solid red;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.bb-right-border-top {
    border-top: 1px solid plum !important;
}

.bb-pwd-width {
    width: 75% !important;
}

@media (max-width: 576px) {
    .bb-pwd-width {
        width: 60% !important;
    }

    .bb-pwd-btn-flex {
        display: flex !important;
        justify-content: unset !important;
        align-items: center !important;
    }
}

.bb-pwd-btn-flex {
    display: flex !important;
    justify-content: space-between;
}

.bb-flex-center {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    /* align-items: center !important; */
}

.bb-btn-plum {
    background-color: #141414 !important;
    border: 1px solid plum !important;
    color: plum !important;
}

.bb-btn-plum:hover {
    background-color: plum !important;
    color: #fff !important;
}

form {
    position: relative !important;
    /* top: 10vh !important; */
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}